<template>
  <div>
    Test 123<br/>
    <ul>
      <li v-for="(starthelfer, index) in starthelfers" :key="index">{{fullName(starthelfer)}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      starthelfers: null
    }
  },

  methods: {
    fullName(starthelfer) {
      return starthelfer.first_name + ' ' + starthelfer.lastName
    }
  },

  mounted: function() {
    this.starthelfers = JSON.parse(this.$el.getAttribute('data-starthelfers'))
  }
}
</script>

<style scoped>
  div {
    background: red;
  }
</style>
